<app-message-bar #messageBar></app-message-bar>
<app-loading-screen></app-loading-screen>
<div class="not-found" *ngIf="!tasksFound"><h4>No scheduled tasks found!</h4></div>
<div *ngIf="loaded" class="gantt-container">
    <gantt-chart [scheduledTasks]="scheduledTasks" [(updated)]="updatedTask"></gantt-chart>
    <div class="submit-btn">
      <button type="button" class="a-button a-button--primary -without-icon a-button-custom"
        (click)="saveSchedule()">
        <div class="a-button__label">Save Schedule</div>
      </button>
      <button type="button" class="a-button a-button--primary -without-icon a-button-custom" (click)="exportPdf()">
        <div class="a-button__label">Export PDF</div>
      </button>
    </div>
</div>
