<app-message-bar #messageBar></app-message-bar>
<div class="container">
  <div class="antet">
    <div class="title">
      <h4>Tasks scheduling</h4>
    </div>
    <div class="a-checkbox">
      <input type="checkbox" [(ngModel)]="isMasterSel" id="all" (change)="checkUncheckAll()"/>
      <label for="all">Select all / Unselect all</label>
    </div>
  </div>
  <div *ngIf="!tasks">No tasks found!</div>
  <div class="a-box -floating" *ngFor="let task of tasks">
    <div class="header">
      <div class="task-title">
        {{task.name}}
      </div>
      <div class="a-checkbox">
        <input type="checkbox" [(ngModel)]="task.isSelected" id="task-{{task.id}}" (change)="isAllSelected()"/>
        <label for="task-{{task.id}}">Schedule task</label>
      </div>
    </div>
    <hr class="a-divider"/>
    <div class="content">
      Has to be delivered on {{task.plannedDate | date: 'dd MMMM'}} by {{task.responsibleDisplayName}}
    </div>
  </div>
  <div class="submit-btn">
    <button type="button" class="a-button a-button--primary -without-icon"
      (click)="schedule()" [disabled]="isDisabled">
      <div class="a-button__label">Schedule</div>
    </button>
  </div>
</div>
