<app-message-bar #messageBar [errors]="formErrors"> </app-message-bar>
<div class="container">
  <div class="select-tasks a-dropdown">
    <select [(ngModel)]="selectedTask" (ngModelChange)="selectTask()">
      <option [ngValue]="null" [disabled]="true">Select a task</option>
      <option *ngFor="let task of tasks" [ngValue]="task">
        {{task.name}}
      </option>
    </select>
  </div>
  <div class="a-box -floating" *ngIf="selectedTask">
    <div class="content">
      <div class="title">Edit Task</div>
      <form [formGroup]="form">
        <div class="input-row">
          <div class="input-group">
            <div>
              <div class="field-name">Name:</div>
              <div class="a-text-field">
                <input formControlName="name" id="name" type="text" value="{{name.value}}"
                  (blur)="validateForm(name, 'Name')" />
              </div>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-group">
            <div>
              <div class="field-name">Start Date:</div>
              <div class="a-text-field">
                <input formControlName="startDate" id="startDate" type="date"
                  (blur)="validateForm(startDate, 'Start Date')" />
              </div>
            </div>
          </div>
          <div class="input-group">
            <div>
              <div class="field-name">Planned Date:</div>
              <div class="a-text-field">
                <input formControlName="plannedDate" type="date" (blur)="validateForm(plannedDate, 'Planned Date')" />
              </div>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-group">
            <div>
              <div class="field-name">Subteam:</div>
              <div class="a-dropdown">
                <select formControlName="subteam" id="subteam" (blur)="validateForm(subteam, 'Subteam')">
                  <option value="{{subteam}}" *ngFor="let subteam of subteams">
                    {{subteam}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="input-group">
            <div>
              <div class="field-name">Duration:</div>
              <div class="a-text-field">
                <input formControlName="duration" type="number" placeholder="ex: 5" min="1" />
              </div>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-group">
            <div>
              <div class="field-name">Employee:</div>
              <div class="a-dropdown">
                <select formControlName="employee" id="employee" (blur)="validateForm(employee, 'Employee')">
                  <option value="{{employee.username}}" *ngFor="let employee of users">
                    {{employee.displayName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="submit-btn">
        <button type="button" class="a-button a-button--primary btn-alert -without-icon a-button-custom"
          (click)="deleteButtonClicked=true">
          <div class="a-button__label">Delete</div>
        </button>
        <button type="button" class="a-button a-button--primary -without-icon a-button-custom" (click)="submit()"
          [disabled]="!isFormValid">
          <div class="a-button__label">Update</div>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="deleteButtonClicked==true" class="m-dialog" id="frontend-kit-dialog-default-dialog-without-header"
    role="dialog" aria-labelledby="frontend-kit-dialog-default-dialog-without-header-title">
    <div class="a-box -floating">
      <div class="m-dialog__content">
        <div class="m-dialog__headline" id="frontend-kit-dialog-default-dialog-without-header-title">
          Are you sure you want to delete {{name.value}} task?
        </div>
        <div class="m-dialog__body" id="frontend-kit-dialog-default-dialog-without-header-description">
          This task will be deleted immediately. You can't undo
          this action.
        </div>
        <div class="m-dialog__actions">
          <button type="button" class="a-button a-button--primary -without-icon" data-frok-action="confirm"
            (click)="deleteButtonClicked=false; deleteTask()">
            <div class="a-button__label">Confirm</div>
          </button>
          <button type="button" class="a-button a-button--secondary -without-icon" data-frok-action="cancel"
            (click)="deleteButtonClicked=false">
            <div class="a-button__label">Cancel</div>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
