@media only screen and (max-height: 50rem) {
  .container {
    padding-top: 11rem !important;
  }
}

@media only screen and (max-width: 100rem) {
  .container {
    padding-left: 3rem !important;
  }
}

.container {
  position: relative;
  margin-top: 3.1rem;
  height: calc(100% - 7rem);
  width: 100%;
  overflow: auto;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 4rem;
}

.a-box {
  writing-mode: initial;
  margin: 0;
  height: 35rem;
  width: calc(100% - 2rem);
  max-width: 60rem;
  padding: 2rem;
  align-self: center;
  display: flex;
  justify-content: center;
}

.select-tasks {
  writing-mode: initial;
  margin: 0;
  height: auto;
  width: calc(100% - 2rem);
  max-width: 60rem;
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  z-index: 1;
}

.select-tasks.a-dropdown select {
    background-color: white;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.input-row {
    display: flex;
    justify-content: space-between;
}

.input-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 1rem;
    margin-top: 1rem;
}

.field-name {
    text-align: left;
}

.a-button {
    width: 15rem;
    margin: auto 1rem;
}

.submit-btn {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2.5rem;
}

.btn-alert:hover {
    background-color: var(--bosch-red-40);
}

.btn-alert:active {
    background-color: var(--bosch-red-35);
}

.btn-alert {
    background-color: var(--bosch-red-45);
    color: var(--bosch-white);
}

.m-dialog {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 1000rem;
    height: 100%;
    background-color: rgba(192, 192, 194, 0.4);
    z-index: 1;
}

.m-dialog .a-box {
    position: absolute;
    width: 50rem;
    left: 50%;
    transform: translate(-50%, 90%);
    height: auto;
    padding: 0;
}

.m-dialog__actions {
    margin-top: 4rem;
}
