@media only screen and (max-height: 50rem) {
  .container {
  }
}

.container {
  position: relative;
  height: calc(100% - 4rem);
  width: 100%;
  overflow: auto;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  gap: 2.5rem;
}

.box {
  margin: 0;
  align-self: center;
  justify-content: center;
  width: 50%;
  height: 20rem;
  min-height: 10rem;
  overflow-y: scroll;
  text-align: center;
  scrollbar-color: gray #e6e4e4;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 17px;
  width: 9px;
  background: #e6e4e4;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(173, 173, 173);
}

::-webkit-scrollbar-corner {
  background: #000;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.antent {
  text-align: center;
  font-weight: bolder;
  font-size: 1.5rem;
}

.weeks.a-box {
  width: 10rem;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}

.weeks.a-box:hover {
  cursor: pointer;
  background-color: var(--bosch-gray-90);
}

.selected {
  background-color: var(--bosch-gray-90);
}

.title {
  font-weight: bold;
}

.input-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.input-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
  margin-top: 1rem;
}

.field-name {
  text-align: left;
}

.a-text-field input {
  background-color: white;
}

.a-button {
  width: 15rem;
}

.submit-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2.5rem;
}

form {
  width: 50%;
}
