<app-message-bar #messageBar [errors]="formErrors"> </app-message-bar>
<div class="container">
  <div class="a-box -floating">
    <div class="content">
      <div class="title">Add Task</div>
      <form [formGroup]="form">
        <div class="input-row">
          <div class="input-group">
            <div>
              <div class="field-name">Name:</div>
              <div class="a-text-field">
                <input formControlName="name" id="name" type="text" placeholder="ex: Test the ECU"
                  (blur)="validateForm(name, 'Name')" />
              </div>
            </div>
          </div>

        </div>
        <div class="input-row">
          <div class="input-group">
            <div>
              <div class="field-name">Start Date:</div>
              <div class="a-text-field">
                <input formControlName="startDate" type="date" min="{{today | date:'yyyy-MM-dd'}}"
                  (blur)="validateForm(startDate, 'Start Date')" />
              </div>
            </div>
          </div>
          <div class="input-group">
            <div>
              <div class="field-name">Planned Date:</div>
              <div class="a-text-field">
                <input formControlName="plannedDate" type="date" min="{{today | date:'yyyy-MM-dd'}}"
                  (blur)="validateForm(plannedDate, 'Planned Date')"/>
              </div>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-group">
            <div>
              <div class="field-name">Subteam:</div>
              <div class="a-dropdown">
                <select formControlName="subteam" id="subteam" (blur)="validateForm(subteam, 'Subteam')">
                  <option value="{{subteam}}" *ngFor="let subteam of subteams">
                    {{subteam}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="input-group">
            <div>
              <div class="field-name">Duration:</div>
              <div class="a-text-field">
                <input formControlName="duration" type="number" placeholder="ex: 5" min="1"
                  (blur)="validateForm(duration, 'Duration')" />
              </div>
            </div>
          </div>
        </div>
        <div class="input-row">
          <div class="input-group">
            <div>
              <div class="field-name">Associate:</div>
              <div class="a-dropdown">
                <select formControlName="employee" id="employee" (blur)="validateForm(employee, 'Employee')">
                  <option value="{{employee.username}}" *ngFor="let employee of users">
                    {{employee.displayName}}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="submit-btn">
        <button type="button" class="a-button a-button--primary -without-icon" [disabled]="!isFormValid"
          (click)="submit()">
          <div class="a-button__label">Submit</div>
        </button>
      </div>
    </div>
  </div>
</div>
