@media only screen and (max-height: 50rem) {
  .container {
    padding-top: 11rem !important;
  }
}

@media only screen and (max-width: 100rem) {
  .container {
    padding-left: 3rem !important;
  }
}

.container {
  position: relative;
  margin-top: 3.1rem;
  height: calc(100% - 8rem);
  width: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.a-box {
  margin: 0;
  height: 35rem;
  width: 60rem;
  padding: 2rem;
  align-self: center;
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.input-row {
  display: flex;
  justify-content: space-between;
}

.input-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 1rem;
  margin-top: 1rem;
}

.field-name {
  text-align: left;
}

.a-button {
  width: 15rem;
}

.submit-btn {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2.5rem;
}
