<div class="container">
  <div class="a-box -floating">
    <div class="content">
      <div class="text"><h5>EngiePlanner</h5> is a web based application that greatly simplifies the daily life of a Scrum Master or Product Owner. The application allows automatic task scheduling, using an Answer Set Programming module that provides very good results in an efficient time.</div>
      <div class="image">
        <img class="home-image" src="../../assets/home.png"/>
      </div>
    </div>
  </div>
</div>
