@media only screen and (max-height: 40rem) {
  .container {
    padding-top: 18rem !important;
  }
}

@media only screen and (max-width: 70rem) {
  .container {
    padding-left: 5rem !important;
  }
}

.container {
  position: relative;
  height: calc(100% - 5rem);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: auto;
  padding: 2rem;
}

.a-box {
  margin: 0;
  height: 35rem;
  width: 60rem;
  padding: 2rem;
  align-self: center;
  display: flex;
  justify-content: center;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.home-image {
  width: 40rem;
}

.text {
  margin-top: 1.5rem;
}

h5 {
  display: inline;
}
